@media screen and (max-width: 3000px) {     
  
html { 
  font-size:100%; 
}

#arcDiag{
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

#plotSection {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2%;
    padding-left: 2%;
}

#plot1 {
    grid-column: 1;
    margin-right: 3%
}

#plot2 {
    grid-column: 2;
    padding-right: 3%
}

#graphsection {
    display:grid;
    grid-template-columns: 33% 33% 33%;
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 1%;
    grid-auto-rows: 20%;
}

#graph1 {
    grid-column: 1;
    margin-right: 3%;
}

#graph2 {
    grid-column: 2;
    margin-right: 3%;
}

#fig001 {
    grid-column: 3;
    margin-right: 3%;
}

.montage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 100%;
}
  
.zoom {
  padding: 1%;
  transition: transform .2s; /* Animation */
  margin: 0.5%;
  width: 30%;
  height: 30%;
}
  
.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

figure canvas {
  border: 1px solid black;
  width: 65%;
  height: 65%;
}

#head{
    width: auto;
    height: 10%;
    text-align: left;
    background-color: rgba(0, 195, 255, 0.624);
}

#txt{
    display: inline;
    margin: auto;
    font-size:1.4rem;
}

#txtBottom{
    display: inline;
    margin: auto;
    font-size:1rem;
}
#box{
    margin:auto;
}
#bas{
    width: auto;
    height: 30%;
    text-align: center;
}
  
.labelValue{
    font-size: 60%;
    opacity: .5;
}
div.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 5px;
    font-size:0.8rem;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
  }
.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font-size:0.8rem;
    padding: 5px;
    text-align: center;

}
}
